.current-chat-page {
  width: 697px;
  height:100%;
  position: relative;
  float: right;
}
  .message-page {
    height: calc(100vh - 270px);
    width:100%;
    overflow: auto;
  }
    .message-item {
      width:100%;
      position: relative;
      padding:8px;
    }
  .send-panel {
    height: 170px;
    position: absolute;
    width: 100%;
    bottom: 0;
  }

