.header-contact-status {
  display:block;
  position: relative;
  float: left;
  height: 100%;
  width: 594px;
  transition: background-color 200ms ease-out;
}
  .name-conversation {
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: rgb(255,255,255);
    display: block;
    position: relative;
    float: left;
    top: 50%;
    transform: translate(0,-50%);
    margin-left: 20px;
  }
    .header-contact-status:hover {
      background-color: #497799;
    }
